<style type="text/css">
#cfcc{
	width: 400px;
	position:fixed;
	top:auto;
	bottom:0px;
	right:0px;
	left:auto;
	overflow-y:scroll;
	border: 1px solid black;
	background-color: lightgrey;
}
#compatable-files, #incompatable-files{
	font-size: 100%;
/*	background-color: black;
	color:white;*/
}

.cfcc-content{
	text-indent:25px;
}
.cfcc-file{
	color:#0000FF;
}
.cfcc-new{
	color:#FF6600;
}
.cfcc-changed{
	color:#880000;
}
.cfcc-constant{
	color:#A9A9A9;
}
</style>
<div id="cfcc">
	<h3 id="compatable-files"><u>Compatable Files</u></h3>
	<div>
		{% for fileData in compatable_files %}
	        <div class="cfcc-file">{{ fileData.filename }}</div>
	        <!-- cfcc: compatable files cyclometric complexity -->
	        <div class="cfcc-content">
	        	<div class="cfcc-new">new: {{ fileData.ccchanges.new }}</div>
		        <div class="cfcc-changed">changed: {{ fileData.ccchanges.changed }}</div>
		        <div class="cfcc-constant">constant: {{ fileData.ccchanges.constant }}</div>
	    	</div>
	    {% endfor %}
	</div>
	<h3 id="incompatable-files"><u>Incompatable Files</u></h3>
	<div style="color:#A9A9A9">
	    {% for fileData in incompatable_files %}
	        <div>{{ fileData.filename }}</div>
	    {% endfor %}
	</div>
</div>
