<script>
    // function getAnalysis(form) {
    //     var revision = form.revision.value;
    //     var filediff_id = form.filediff_id.value;
    //     var inputURL = "cc/" + revision + '/' + filediff_id;
    //     $.ajax({
    //         url: inputURL,
    //         success: function(result){
    //             console.log('cc success');
    //             $("#cccontent").html(result);
    //         },
    //         error: function( xhr, status, errorThrown ) {
    //             $("#cccontent").html("not valid value");
    //         },
    //     });
    // };
    function setAccordion() {
        console.log('accordion');
        $( ".accordion" ).accordion({
            heightStyle: "auto",
            active: 2,
            collapsible: true,
            icons: false,
        });
    };  
    function getAnalysisNF() {
        var inputURL = "cc/"
        $.ajax({
            url: inputURL,
            success: function(result){
                console.log('cc success');
                $("#cccontent_general").html(result);
                setAccordion();
            },
            error: function( xhr, status, errorThrown ) {
                $("#cccontent_general").html("Fetching /cc/ unsuccessful");
            },
        });
    };
    
    $( window ).load(getAnalysisNF());
    
</script>
<div id="cccontent_general"></div>

<!-- <div>
    <form name='cccontentform' action='' method='get'>revisions/filediff_id<br>
        <input type='number' name='revision'>
        <input type='number' name='filediff_id'>
        <input type='button' name='button' value='Submit' onClick='getAnalysis(this.form)'>
    </form>
</div>
<div id="cccontent">
</div> -->


